label{
    color: rgb(18, 18, 19);
    display: inline-block;
    margin: 10px;
    font: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    
}


div#container_foreign{
    background-color: rgba(250, 248, 248, 0);
    width: 50%;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    display:none;
}


#container_domestic, #container_domestic_stocks, #optionbrazil, #container_domestic_fiis, #container_domestic_options, #container_domestic_futures{
background-color: rgba(250, 248, 248, 0);
width: 50%;
height: 600x;
margin: 0 auto;
text-align: center;
display: none;
}

#paragraph{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
}

#container_legislacao{
    background-color: rgba(250, 248, 248, 0);
    width: 80%;
    height: 600x;
    margin: 0 auto;
    text-align: left;
    display: block;
    }


input.inputform{
    background-color: rgb(238, 234, 234);
    border-radius: 10%;
    border: none;
    width: 70%;
    height: 30px; 
    box-sizing: border-box;
}

input:hover{
    background-color: rgb(173, 169, 168);
}


div.container-darf1{
    background-color: rgb(12, 11, 11);
    height: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: lightblue 0px 4px 6px;
    border-radius: 12px;
    line-height: 30px;
    cursor: pointer;
}

div.container-darf2{
    background-color: rgb(99, 98, 98);
    height: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: lightblue 0px 4px 6px;
    border-radius: 12px;
    line-height: 30px;
    cursor: pointer;
}

div.container-darf3{
    background-color: rgb(156, 152, 152);
    height: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: lightblue 0px 4px 6px;
    border-radius: 12px;
    line-height: 30px;
    cursor: pointer;
}


div.investment{
    background-color: rgb(12, 11, 11);
    height: 30%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: lightblue 0px 4px 6px;
    border-radius: 12px;
    line-height: 30px;
    cursor: pointer;
}

div.investment:hover{
    background-color:  rgb(173, 169, 168);
}

p#paragraph{
    text-align: center;
}


div#container_social{
    text-align: center;
}

.fa{
    width: 10%;
    height: 10%;
    text-align: center;
    margin:0 auto;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    
    color: rgb(10, 10, 10);
}
  
.fa-twitter {
    
    color: rgb(10, 10, 10);
}

.fa-instagram {
    
    color: rgb(10, 10, 10);
}

.fa-whatsapp {
  
    color: rgb(10, 10, 10);
}

img{
height:15%;
text-align: left;  
width: 20%;
margin-bottom: 0px;
display: block;
padding: -20%;
float: left;
}

h2#title2{
    text-align: center;
    margin: 5%;
}

.paragraph1{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
    font-size: 1.10rem;
    font-weight: 300;
    display: none;
}



